/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #292f36;
}

i {
    color: #292f36;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
