/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200mm' height='200mm' viewBox='0 0 200 200'%3E%3Cdefs%3E%3CclipPath id='d'%3E%3Cpath fill='%233400ea' stroke='%2334e4fe' stroke-width='0' d='M-.935-26.945h210v297h-210z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath fill='%233400ea' stroke='%2334e4fe' stroke-width='0' d='M-.935-26.945h210v297h-210z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath fill='%233400ea' stroke='%2334e4fe' stroke-width='0' d='M-5.386-285.329h200v200h-200z'/%3E%3C/clipPath%3E%3CclipPath id='a'%3E%3Cpath fill='%233400ea' stroke='%2334e4fe' stroke-width='0' d='M-5.386-285.329h200v200h-200z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='%2306aed5'%3E%3Cpath transform='translate(5.386 285.33)' clip-path='url(%23a)'%3E%3Canimate dur='30s' repeatCount='indefinite' attributeName='d' values='M-20.22-235.33s56.929-22.133 134.704-14.4c77.776 7.734 102.632.8 102.632.8l1.336-36.4H-21.823z; M-20.22-235.33s66.764-53.037 134.704-14.4c66.436 37.783 102.632.8 102.632.8l1.336-36.4H-21.823z; M-20.22-235.33s56.929-22.133 134.704-14.4c77.776 7.734 102.632.8 102.632.8l1.336-36.4H-21.823z;' calcMode='spline' keySplines='0.48 0 0.48 1; 0.48 0 0.48 1'/%3E%3C/path%3E%3Cpath d='M-23.026-135.33s56.928 22.134 134.704 14.4c77.775-7.733 102.631-.8 102.631-.8l1.337 36.4H-24.63z' transform='translate(5.386 285.33)' clip-path='url(%23b)'/%3E%3C/g%3E%3Cg fill='%2334e4ea'%3E%3Cpath d='M-11.225-14.12S44.9-14.654 94.012 2.25c49.11 16.905 67.953 20.18 95.683 23.053l27.729 2.873-1.67-57.664-183.348-2.338-43.297 1.336z' clip-path='url(%23c)' transform='matrix(-.95238 0 0 -1.08851 199.11 170.67)'/%3E%3Cpath clip-path='url(%23d)' transform='matrix(.95238 0 0 1.08851 .89 29.33)'%3E%3Canimate dur='30s' repeatCount='indefinite' attributeName='d' values='M-11.225-14.12S44.9-14.654 94.012 2.25c49.11 16.905 67.953 20.18 95.683 23.053l27.729 2.873-1.67-57.664-183.348-2.338-43.297 1.336z; M-11.225-14.12s53.623 26 105.237 16.37c54.568-10.18 70.222 10.194 96.675 18.018l26.737 7.908-1.67-57.664-183.348-2.338-43.297 1.336z; M-11.225-14.12S44.9-14.654 94.012 2.25c49.11 16.905 67.953 20.18 95.683 23.053l27.729 2.873-1.67-57.664-183.348-2.338-43.297 1.336z;' calcMode='spline' keySplines='0.48 0 0.48 1; 0.48 0 0.48 1'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    font-family: 'Roboto', sans-serif;
}

@media (orientation: landscape) {
    body {
        background-size: 100vw auto;
    }
}

a {
    color: #292f36;
}

i {
    color: #292f36;
    padding: 3px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
